/* Brandon Ruger
 * ASD 1311
 * Project 1 */

section > p {
    margin: 0px;
    padding: 0px;
    font: 10pt Helvetica;
}

header > img {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0px;
}